.track {
  color: #989898;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 3px;
}

.track:hover {
  background: #2a2a2a;
}

.track:hover .order {
  display: none;
}

.track:hover .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
}

.track:hover .play svg {
  color: #fff;
}

.track:hover button {
  opacity: 1;
}

.track button {
  opacity: 0;
}

.track .play {
  display: none;
}

.track .order {
  font-weight: 600;
}

.track div:not(.actions) {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5rem 1.5rem;
      grid-template-rows: 1.5rem 1.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.track div:not(.actions) h6 {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.track div:not(.actions) p {
  justify-self: flex-start;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.track.highlighted {
  background: #3d3d3d;
}

.track.highlighted:hover {
  background: #3d3d3d;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions button svg {
  height: 1.5rem;
  width: 1.5rem;
}

@media (max-width: 500px) {
  .track .actions {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .track div:not(.actions) {
    -ms-grid-rows: auto 1rem;
        grid-template-rows: auto 1rem;
  }
  .track button,
  .track button svg {
    width: 1rem;
  }
}
