.search-box {
  margin-right: auto;
  margin-left: 2rem;
  position: relative;
  display: flex;

  input[type="text"] {
    width: 20rem;
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 360px;
    background: #fff;
    padding: 0.1rem 3rem 0.1rem 1.25rem;
    color: #181818;

    &::placeholder {
      color: #a2b3b3;
    }
  }

  button {
    position: absolute;
    width: 1.25rem;
    left: 17.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;

    &:hover {
      cursor: pointer;
    }

    svg[data-icon="search"] {
      color: #181818;
    }
  }

  & > div {
    width: 10rem;
    margin-left: 2rem;
    z-index: 10;

    svg {
      color: #181818;
    }

    div {
      font-weight: 400;
      font-size: 1.1rem;
      color: #181818;
    }

    & > div:first-of-type {
      padding: 0.1rem 0.3rem;
      border-radius: 360px;
      background: #fff;
    }

    & > div:nth-of-type(2) {
      border-radius: 5px;
      overflow: hidden;

      & > div {
        background: #fff;
        padding: 0;

        div {
          background: #fff;
          color: #181818;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .search-box {
    > div {
      margin-left: 0 !important;
      width: 10rem !important;

      > div:nth-of-type(2) > div > div {
        padding: 0.25rem 0.5rem;
      }
    }

    input[type="text"] {
      font-size: 0.95rem;
    }

    input::placeholder,
    > div div {
      font-size: 0.95rem;
      padding: 0.1rem;
    }

    button {
      width: initial !important;
      height: initial !important;

      svg {
        width: 1.3rem !important;
        height: 1.3rem !important;
        transform: translateX(0.2rem);
      }
    }
  }
}
