.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #272727;
}

.form-group label {
  width: 10rem;
  color: #eee;
  font-weight: 800;
}

.form-group > div > div {
  padding: 0.3rem 0.5rem;
  border: 1px solid #353535;
  background: #121212;
  color: #eee;
  border-radius: 3px;
  width: 30rem;
}

.form-group > div > div > div > div:first-of-type {
  color: #eee;
}

@media (max-width: 1000px) {
  .form-group > div > div {
    width: 100%;
  }
}
