.categories {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: 2rem;
}

.categories-dropdown {
  display: none;
  margin-right: auto;
  margin-left: 2rem;
  z-index: 1000;

  div {
    border: none;
    outline: none;
    box-shadow: none;
  }

  > div {
    width: 12rem;
    background: #181818;
    color: #eee;
    border-radius: 5px;
    border: none;

    &:hover {
      cursor: pointer;
    }

    & > div > div {
      padding: 0.7rem 1rem;

      &:first-of-type {
        color: #eee;
      }
    }
  }
}

@media (max-width: 1050px) {
  .categories {
    display: none;
  }

  .categories-dropdown {
    display: flex;
  }
}

@media (max-width: 500px) {
  .categories-dropdown {
    margin-left: 1rem;

    > div {
      width: 8rem;

      &:nth-of-type(2) {
        > div > div {
          padding: 0.5rem 1rem;
        }
      }

      > div > div {
        padding: 0.25rem 0.4rem;
      }
    }
  }
}
